body{
    background-color: antiquewhite;
}
.calculator {
 margin: auto;
 height: 300px;
 width: 400px;
 display: flex;
 padding: 15px;
 background-color: bisque;
 font-size: 24px;
 font-family: monospace;
 flex-direction: column;
 justify-content: space-between;
 align-items: stretch;
 row-gap: 20px;
}

.display {
    background-color: white;
    height: 50px;
    box-shadow: 4px 4px 2px antiquewhite inset;
}


.action {
    border: 5px solid red;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    align-items: stretch;
    
}

.operators {
    border: solid 4px red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}

.lowerHalf {
    border: solid 4px red;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    

}

.numbers {
    border: solid 4px red;
    flex: 1;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 10px;
}

.operate {
    border: solid 4px red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

}




