body{
    background-color: linen;
    row-gap: 15px;
    display: flex;
    flex-direction: column;
}
button {
    background-color: white;
    color: navy;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 3px whitesmoke;
    font-family: monospace;
    font-size: 20px;
    font-weight: 400;
}
button:hover {
    background-color: whitesmoke;
    color: deeppink;
}

.calculator {
 margin: auto;
 height: 600px;
 width: 400px;
 display: flex;
 padding: 15px;
 background-color: bisque;
 font-size: 25px;
 font-weight: 500;
 font-family: monospace;
 flex-direction: column;
 justify-content: space-between;
 align-items: stretch;
 row-gap: 30px;
 border-radius: 15px;
 border: 2px solid salmon;
}

.display {
    background-color: white;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 2px antiquewhite inset;
    align-content: center;
    text-align: right;
}


.action {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
    align-items: stretch;  
}

.operators {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.lowerHalf {
    flex: 1;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 300px;
}

.numbers {
    flex: 1;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    color: black;
}

.operate {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    
}

#enter {
    height: 180px;
    background-color: lightseagreen;
}

#backspace {
    background-color: gray;
}

#clear {
    background-color:lightcoral;
}

.operatorStyle {
    background-color: lightcyan;
    color: brown;
    font-size:larger;
}

.operatorStyle:hover {
    background-color: lightblue;
    color: black;

}

#zero {
    width: 180px;
}

.instructions {
    background-color: whitesmoke;
    font-family: monospace;
    font-size: 16px;
    color: darkblue;
    font-weight: 500;
    width: 1000px;
    margin: auto;
    padding: 15px;
    box-shadow: inset 15px lightslategray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
p {
    margin: 0px;
    padding: 0px;
    border: 0px;
}